		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}


body{
	margin: 50px;
    font-family: sans-serif;
    color: rosybrown;
    background-color: oldlace;
}

a {
	color: sandybrown;
}

@media screen and (max-width: 704px) {
}